<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @articles.each do |article| %>
    <div class="content_post" style="background: url(<%= article %>);">
      <p><%= article %></p>
      <span class="name"><%= article %></span>
    </div>
  <% end %>
</div>